/*
| ------------------------------------------------------------------------------
| Utility
| ------------------------------------------------------------------------------
*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

// -----------------------------------------------------------------------------
// Boxing
// -----------------------------------------------------------------------------
@import './components/border';
@import './components/margin';
@import './components/padding';

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
@import './components/colors';

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------
@import './components/button';

// -----------------------------------------------------------------------------
// Floating
// -----------------------------------------------------------------------------
@import './components/floating';

// -----------------------------------------------------------------------------
// Display
// -----------------------------------------------------------------------------
@import './components/display';

// -----------------------------------------------------------------------------
// Transform
// -----------------------------------------------------------------------------
@import './components/transform';

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
@import './components/text';

// -----------------------------------------------------------------------------
// Positions
// -----------------------------------------------------------------------------
@import './components/positions';

// -----------------------------------------------------------------------------
// Size
// -----------------------------------------------------------------------------
@import './components/size';

// -----------------------------------------------------------------------------
// Scroll
// -----------------------------------------------------------------------------
@import './components/scroll';
