/*
| ------------------------------------------------------------------------------
| Button
| ------------------------------------------------------------------------------
*/

// -----------------------------------------------------------------------------
// Reset
// -----------------------------------------------------------------------------
.btn {
    cursor: pointer;
    border: 0;
    margin: 0;
    outline: none;
    &:disabled {
        cursor: not-allowed;
    }
    &:focus,
    &:hover,
    &:active, {
        border: 0;
        outline: none;
    }
}
