/*
| ------------------------------------------------------------------------------
| Colors
| ------------------------------------------------------------------------------
*/

// -----------------------------------------------------------------------------
// Text | Background
// -----------------------------------------------------------------------------
.txt,
.bg {
    &-black { color: black; }
    &-white { color: white; }

    &-transparent { color: transparent; }
    &-inh { color: inherit; }
}
