/*
| ------------------------------------------------------------------------------
| Display
| ------------------------------------------------------------------------------
*/

// -----------------------------------------------------------------------------
// Display
// -----------------------------------------------------------------------------
.block { display: block; }
.inline { display: inline; }
.iblock { display: inline-block; }
.flex { display: flex; }
.none { display: none; }
