/*
| ------------------------------------------------------------------------------
| Floating
| ------------------------------------------------------------------------------
*/

// -----------------------------------------------------------------------------
// Floating
// -----------------------------------------------------------------------------
.float {
    &-r { float: right; }
    &-l { float: left; }
    &-n { float: none; }
}

.clear-both {
    clear: both;
}

.clearfix {
    &::after {
        content: '';
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }
}
