/*
| ------------------------------------------------------------------------------
| Positions
| ------------------------------------------------------------------------------
*/

.p {
    &-rel { position: relative; }
    &-abs { position: absolute; }
    &-fix { position: fixed; }
    &-sticky { position: sticky; }
}
