/*
| ------------------------------------------------------------------------------
| scroll
| ------------------------------------------------------------------------------
*/

.o {
    &-hidden { overflow: hidden; }
    &-scroll { overflow: scroll; }
    &-y-scroll { overflow-y: scroll; }
    &-x-scroll { overflow-x: scroll; }
}
