/*
| ------------------------------------------------------------------------------
| Size
| ------------------------------------------------------------------------------
*/

// -----------------------------------------------------------------------------
// Height
// -----------------------------------------------------------------------------
.h {
    &-full { height: 100%; }
    &-75 { height: 75%; }
    &-50 { height: 50%; }
    &-25 { height: 25%; }
    &-1 { height: 1px; }
    &-0 { height: 0px; }
}

// -----------------------------------------------------------------------------
// Width
// -----------------------------------------------------------------------------
.w {
    &-full { width: 100%; }
    &-75 { width: 75%; }
    &-50 { width: 50%; }
    &-25 { width: 25%; }
    &-1 { width: 1px; }
    &-0 { width: 0px; }
}
