/*
| ------------------------------------------------------------------------------
| Text
| ------------------------------------------------------------------------------
*/

.txt {
    // -------------------------------------------------------------------------
    // align
    // -------------------------------------------------------------------------
    &-center { text-align: center; }
    &-right { text-align: right; }
    &-left { text-align: left; }

    // -------------------------------------------------------------------------
    // colors
    // -------------------------------------------------------------------------
    &-white { color: #fff; }
    &-black { color: #000; }

    // -------------------------------------------------------------------------
    // align
    // -------------------------------------------------------------------------
    &-extra-light { font-weight: 100; }
    &-light { font-weight: 200; }
    &-normal { font-weight: 400; }
    &-medium { font-weight: 500; }
    &-strong { font-weight: 700; }

    // -------------------------------------------------------------------------
    // transform
    // -------------------------------------------------------------------------
    &-upper { text-transform: uppercase; }
    &-lower { text-transform: lowercase; }
}

// -----------------------------------------------------------------------------
// Wrap
// -----------------------------------------------------------------------------
.white-space--nw { white-space: nowrap; }
.word-wrap--b { word-wrap: break-word; }
.word-wrap--n { word-wrap: none; }
