/*
| ------------------------------------------------------------------------------
| Settings
| ------------------------------------------------------------------------------
*/

// -----------------------------------------------------------------------------
// Transform
// -----------------------------------------------------------------------------
.t {
    &-r-90 {
        display: inline-block;
        transform: rotate(90deg);
    }
    &-r-180 {
        display: inline-block;
        transform: rotate(180deg);
    }
    &-r--90 {
        display: inline-block;
        transform: rotate(-90deg);
    }
    &-r--180 {
        display: inline-block;
        transform: rotate(-180deg);
    }
}
